{% extends "layout.html" %}

{% block body %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Movie</th>
          <th scope="col">Genre</th>
        </tr>
      </thead>
        
        <tr>        
          {% for movie in movies %}
        </tr>
        
        <tr>
          <td><a href="{{ url_for('movie_page') }}">{{ movie.movie_name }}</a></td>
          <td>{{ movie.genre.genre_name }}</td>
        </tr>
          {% endfor %}
    </table>



{% endblock %}