{% extends "layout.html" %}

{% block body %}
{{ error }}
<style>
  body {
    background: #eee !important;	
  }

  .wrapper {	
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);  
    
  }

  .form-signin-heading{
    margin-bottom: 30px;
  }

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
    padding: 10px;
    
  }
  
  

</style>
<div class="wrapper">
  <form class="form-signin" method="POST" action="{{ url_for('login') }}">
    <h2 class="form-signin-heading">Please login</h2>
    <div>{{ form.username(class="form-control", placeholder="username") }}</div>
    <div>{{ form.password(class="form-control", placeholder="password") }}</div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>
</div>
  

{% endblock %}