{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('signup') }}">
  <table> 
      {% if current_user.is_authenticated %}
      <h3>Tässä voit vaihtaa salasanan</h3>
      <tr><td>{{ form.password.label }} {{ form.password }}</td></tr>
      {% else %}
      <tr><td>{{ form.name.label }} {{ form.name }}</td></tr>
      <tr><td>{{ form.username.label }} {{ form.username }}</td></tr>
      <tr><td>{{ form.password.label }} {{ form.password }}</td></tr>
      {% endif %}
  </table>
  <tr><td><input type="submit" value="Sign up"/></td></tr>
</form>
    
      

{% endblock %}