{% extends "layout.html" %}

{% block body %}
<div>Comments</div>

    
{% for post in movie.posts %}
    
    <li>{{ post.post_text }} 
        <form method="POST" action="{{ url_for('delete_post', post_id=post.post_id )}}">
            {% if post.user_id == current_user.id %}
            <button type="submit">Delete</button>
            {% endif%}
        </form>
    
    </li>

{% endfor %}

{% if current_user.is_authenticated %}
<form method="POST" action="{{ url_for('create_post', movie_id=movie.movie_id) }}">
    
    <textarea name='comment'></textarea><br>
    
    <button type="submit">Add comment</button>
    
</form>
{% endif %}
{% endblock %}