{% extends "layout.html" %}

{% block body %}

<style>

.speech-bubble:after {
	content: '';
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 30px solid transparent;
	border-right-color: #a7b2b6;
	border-left: 0;
	border-top: 0;
	margin-top: -15px;
	margin-left: -30px;
}

.box {
  width: 300px;
  background: #a7b2b6;
  padding: 20px;
  position:relative;
  border-radius: .4em;
  margin: 10px;
  
}

.delete-button {
  position: relative;
  left: 60%;   
}

.username {
 position: relative;
 background: #848a8c;
 padding: 7px;
 border-radius: .4em;
 right: 20px;
 top: -15px;
 
}

.heading{
 margin: 10px;
 left: 20px;
 position: relative;
}

.commentarea{
 position: relative;
 padding: 20px;
 margin: 20px;
 width: 300px;
 border-radius: .4em;
}

.comment-button{
 margin: 20px;
 top: -45px;
 position: relative;
 width: 300px;
 border-radius: .4em;
 background-color:  #848a8c;
}

</style>


<h2 class="heading"> {{ movie.movie_name }} </h2>

{% for post in movie.posts %}
<div class="col-sm-4">
  <div class="box">
    <div>
      <strong class="username">{{ post.comment.name}}</strong> 
      {{ post.post_text }}
    </div>
  </div>

    <form method="GET" action="{{ url_for('edit_post', post_id=post.post_id )}}">
    {% if post.user_id == current_user.id %}
      <button class="delete-button">Edit</button>
    {% endif%}
    
    </form>

    <form method="POST" action="{{ url_for('delete_post', post_id=post.post_id )}}">
    {% if post.user_id == current_user.id %}
      
      <button class="delete-button" type="submit" onclick="return confirm('Are you sure?')">Delete</button>
      
    {% endif%}
    </form>
</div>
{% endfor %}

{% if current_user.is_authenticated %}
  
    <form method="POST" action="{{ url_for('create_post', movie_id=movie.movie_id) }}">
      <textarea class="commentarea" name='comment'></textarea><br>
      <button class="comment-button" type="submit">Add comment</button>
    </form>
  </div>

{% endif %}

{% endblock %}