{% extends "layout.html" %}

{% block body %}

<style>

.speech-bubble:after {
	content: '';
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 30px solid transparent;
	border-right-color: #a7b2b6;
	border-left: 0;
	border-top: 0;
	margin-top: -15px;
	margin-left: -30px;
}

.box {
  width: 300px;
  background: #a7b2b6;
  padding: 20px;
  position:relative;
  border-radius: .4em;
  margin: 10px;
  
}

.username {
 position: relative;
 background: slategray;
 padding: 7px;
 border-radius: .4em;
 right: 20px;
 top: -15px;
 
}

.heading{
 margin: 10px;
 left: 20px;
 position: relative;
}

.commentarea{
 position: relative;
 padding: 20px;
 margin: 20px;
 width: 300px;
 border-radius: .4em;
}

 .s {
      position: relative;
      width:250px;
      top: 50px;
    }

    .btn {
      position: relative;
      width: 120%;
      left: 20px;
      top: -25px;
      background-color: slategrey;
      
    }

    .delete-button {
      position: relative;
      width: 280%;
      left: 160px;
      top: -40px;
      background-color:red;
      border-radius: .4em;


    } 

    .edit-button {
      position: relative;
      width: 280%;
      left: 11px;
      top: -11px;
      background-color: slategrey;
      border-radius: .4em;
</style>


<h2 class="heading"> {{ movie.movie_name }} </h2>
<div class="s">
{% for post in movie.posts %}
<div class="col-sm-4">
  <div class="box">
    <div>
      <strong class="username">{{ post.comment.name}}</strong> 
      {{ post.post_text }}
    </div>
  </div>

    <form method="GET" action="{{ url_for('edit_post', post_id=post.post_id )}}">
    {% if post.user_id == current_user.id %}
      <button class="edit-button">Edit</button>
    {% endif%}
    
    </form>

    <form method="POST" action="{{ url_for('delete_post', post_id=post.post_id )}}">
    {% if post.user_id == current_user.id %}
      
      <button class="delete-button" type="submit" onclick="return confirm('Are you sure?')">Delete</button>
      
    {% endif%}
    </form>
</div>
{% endfor %}

{% if current_user.is_authenticated %}
    <form method="POST" action="{{ url_for('create_post', movie_id=movie.movie_id) }}">
      <textarea class="commentarea" name='comment'></textarea><br>
      <input type="submit" class="btn" value="Add comment">
    </form>
 
  </div>
</div>

{% endif %}

{% endblock %}