{% extends "layout.html" %}

  {% block body %}
  <form method="POST" action="{{ url_for('create_movie') }}" >
    <table>
      <tr>
        <td>
          {{ form.name.label }}
        </td>
        <td>
          {{ form.name }}
        
        </td>
        <td>
          <select name='genre'>
            <option value="1">Action</option>
            <option value="2">Comedy</option>
            <option value="3">Drama</option>
            <option value="4">Fantasy</option>
            <option value="5">Historical</option>
          </select>
        </td>
        <td>
            <br><textarea name='comment' placeholder="comment"></textarea>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <input type="submit" value="Add a new movie"/>
        </td>
      </tr>

      
    
  </form>
  {% endblock %}