{% extends "layout.html" %}

{% block body %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Movie</th>
          <th scope="col">Genre</th>
        </tr>
      </thead>
        
        <tr>        
          {% for movie in user.seenMovies %}
        </tr>

        <tr>
          <td><a href="{{ url_for('b', movie_id=movie.movie_id) }}">{{ movie.movie_name }}</a></td>
          <td><a href="{{ url_for('genre_page', genre_id=movie.genre_id) }}">{{ movie.genre.genre_name }}</a></td>
        </tr>
        {% endfor %}
          
          
    </table>



{% endblock %}

